

html {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	background:url(../img/bg.jpg);
}

#options {
	margin: 0% 0% 0% 0%;
	width: 100%;
	position: relative;
}




#msglinks {
	width: 60%;
	margin-top: 1%;
	border-style: solid;
	border-color: green;
	background-color: lightgreen
	
}

#enviarbox {
	width: 60%;
	margin-top: 0%;
	border-style: solid;
	border-color: green;
}


#caixadeentrada {
	width: 60%;
	height: 50%;
	background-color: #E2EBE0;
	border-style: solid;
	border-color: #36BA13;
}

#remetente {
	width: 1%;
	float:left;
}

hr {
	width: 50%;
}

#assunto2 {
	width: 1%;
	height: 50%;
}

#remetentelist {
	width: 100%;
	position: relative;
	margin-right:100%;
	float: left;
	height: 100%;

	
}

hr {
	width:99%;
}

#assuntolist {
	width: 100%;

}

#remassu {
	width:100%;
}

#IDmsg {
	float: right;
	width: 36px;
	height: 27px;
	color:transparent;
	background:url(../img/botaoleia.jpg) no-repeat;
	background-size: 100%;
	

}



#lermensagem {
	margin: 3%;
	border-style: solid;
	border-color: blue;
	width: 90%;
}


#leia {
	float:right;

}

#deleteID {
	float: right;
	width: 36px;
	height: 27px;
	color:transparent;
	background:url(../img/botaodelete.jpg) no-repeat;
	background-size: 100%;
}


#criarcolo {
	width: 95%;
	height:95%;
	border-style: solid;
	border-color: brown;
	background-color: lightgray;
}



#recursostop {
		
	height: 5%;
}
	



a:link {
	color: #006400;
	display: ;
	text-decoration: none;
	font-weight:bold;
	font-size:100%;
}

a:visited {
	color: #006400;
	display: ;
	text-decoration: none;
	font-weight:bold;
}

a:hover {
	color: brown;
	text-decoration: none;
	font-weight:bold;
}



a:active {
	color: blue;
}

#mapa {
	height: 70%;

}

#barramenu {
	height:1%;
	width: 100%;
	background:url(../img/bloco.png);
}

#top {
	background:url(../img/menufundo.bmp);
	background-size: 100% 100%;
}

#tableniveis1 {
}

#tableniveis1 table {
}

#aldeiapop table {
	background:url(../img/bg1.jpg);
}


#recursosframe {
	position: relative;	

}

#iframerecursos {
	position:relative;
	
}

#imgcont {
	position: absolute;
	margin-left: 5px;
}



#vila {
	float:center;
	position: relative;
	width: 40%;
}

#edificiosvila {
	
}



#tabelaproducao table {
	background:url(../img/bg1.jpg);
}



#imgrecursosjs {
	position: relative;
	margin-right: 5px;
}



#construirjs {
	margin-left: 5px;
	margin-top: 20px;
	position: relative;
}

#colunaesquerda {
	position: relative;
}


#linkr {
margin-left: 5px;
position: absolute;
}

#linkespadas {
	float: right;
	position: absolute;
	right: 0;
	margin-right: 5px;
}

#linkmartelo {
	position: absolute;
	left: 0;
	margin-left: 5px;
	margin-top: 80px;
}

#linkest {
	float: right;
	position: absolute;
	right: 0;
	margin-right: 5px;
	margin-top: 80px;
}

#linkmov {
	position: absolute;
	left: 0;
	margin-left: 5px;
	margin-top: 160px;
}

#linkmartelo img {
	width: 100%;
}



#manuallink {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: white;
	width: 20%;
}


#tabelaP {
	border-style: solid;
	border-color: #FF8C00;
	border-width: 2px;
	background-color: #DEB887;
	width: 90%;
}

#tabela1 {
	border-style: solid;
	border-color: #FF8C00;
	border-width: 2px;
	background-color: #DEB887;
	width: 90%;
}

#tabela1 table {
	
}

#iframedoquartel {
	width: 60%;
	height: 25%;
}

#iframedoquartel iframe {
	width: 100%;
	height: 30%;
}